@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes downUp {
    50%{
        opacity: 1;
        transform: translateY(25%);
    }
    100% {
      opacity: 0;
        transform: translateY(0);
    }
}



