*{ 
    // will-change: transform; 
}

// .front{
//     .b-intro{
//         transition: 1s ease-in;
//         opacity: 0;
//         transform: translateY(100px);
//         &.is-loaded{
//             opacity: 1;
//             transform: translateY(0);
//         }
//     }
//     @media (min-width: $mobWidth+1){
//         .b-intro__offer{
//             position: relative;
//             opacity: 0;
//             transform: translateX(-25%);
//             transition: 1.25s ease-in-out;
//             transition-delay: 1s;
//             &.is-loaded{
//                 opacity: 1;
//                 transform: translateX(0);
//             }
//         }   
//         .b-intro-group, .btn_out{
//             opacity: 0;
//             transform: translateX(25%);
//             transition: 1s ease-in-out;
//             &:nth-child(1){
//                 transition-delay: 1.5s;
//             }
//             &:nth-child(2){
//                 transition-delay: 2s;
//             }
//             &.is-loaded{
//                 opacity: 1;
//                 transform: translateX(0);
//             }
//         }
//         .btn_out{
//             transition-delay: 2.5s;
//         }
//         .b-intro__tooltip{
//             opacity: 0; 
//             transition: 0.5s ease-in-out;
//             transition-delay: 2s;
//         }
//     }
    
// }
// .is-loaded{
//     .b-intro__tooltip{
//         opacity: 1;
//     }
// }