*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
body{
    // padding-top: 50px;
    width: 100vw;
    overflow-x: hidden;
    font-family: Proxima Nova;
    font-size: 16px;
}