.cart{
    &__title{
        margin-bottom: 50px;
        @media (max-width: $mobWidth){
            // font-size: 0.75em;
            margin-bottom: 35px;
        }
    }
    
    &__items{
//        padding-bottom: 25px;
        @include bBorder;
    }
    
    &__row_info{
        @include bBorder;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 10px;
        font-size: 1.15em;
        .label{}
        .value{
            width: calc(28%);
        }
        &-total{
            .value{
                @media (min-width: $mobWidth+1){ font-size: 1.5em; }
            }
            @media (min-width: $mobWidth+1){
                padding-bottom: 27px;
            }
        }
        @media (max-width: $mobWidth){
            padding: 15px 5px;
            font-size: 0.85em;
        }
    }
    
    &-form__client, &-form__delivery{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 50px;
        align-items: stretch;
        @media (max-width: $mobWidth){
            padding-top: 20px;
        }
    }
    &-form__title{
        margin-bottom: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        @media (max-width: $mobWidth){
            font-size: 0.75em;
            padding: 0;
            margin-bottom: 5px;
        }
    }
    &-form__input-wrpr{
        margin: 15px 0;
        @media (max-width: $mobWidth){
            margin: 6px 0;
            padding: 0;
        }
    }
    &-form__submit{
        margin-top: 25px;
        @media (max-width: $mobWidth){
            margin-top: 15px;
            text-align: center;
        }
    }
    
    
}


.cart-form{
    position: relative;
    .message, .loader {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 60px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.95);
        visibility: hidden;
        opacity: 0;
        transition: 500ms ease-in-out;
        z-index: 7;
        &.is-active{
            visibility: visible;
            opacity: 1;
        }
    }
    .message{
        font-size: 1.5em;
        .error{
            color: red;
        }
        
        .success{
            color: $cPrimary;
        }
    }
    .loader {
        z-index: 6;
        i{
            display: block;
            width: 50px;
            height: 50px;
            background-color: $cPrimary;
            @include mask-pos(center);
            @include mask-rep(no-repeat);
            @include mask-size(contain)
            @include mask('../img/ui/loader.svg');
            animation: spin 1.4s ease-in-out infinite;
        }
    }
}
        

.cart__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 15px  auto;
    @media (max-width: $tabWidth){
        flex-wrap: wrap;
    }
    
    &-photo-wrpr {
        width: 125px;
        padding: 0 47px;
        align-self: stretch;
        @media (max-width: $tabWidth){
            width: 80px;
            padding: 0 24px;
            margin-bottom: 20px;
        }
        @media (max-width: $mobWidth){
            // width: 50px;
            // padding: 0 10px;
        }
    }
    &-photo {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
    &-desc-wrpr {
        width: 300px;
        padding: 0 14px;
        font-size: 1.15em;
        line-height: 1.5;
        margin-left: 6%;
        @media (max-width: $tabWidth){
            flex-grow: 1;
            width: calc( 100% - 80px );
            font-size: 0.85em;
            margin-left: 0;
            padding-left: 25px;
        }
        @media (max-width: $mobWidth){
        }
    }
    &-desc {
    }
    &-qty-wrpr {
        display: flex;
        align-items: center;
        margin-left: 9%;
        @media (max-width: $tabWidth){ margin-left: 0; }
        .input{
            display: flex;
            justify-content: center;
            align-items: stretch;
            @media (max-width: $tabWidth){
                font-size: 0.75em;
            }
        }
        .label{
            margin-left: 0.5em;
            font-size: 1.15em;
            @media (max-width: $tabWidth){ display: none; }
        }
    }
    &-qty {
    }
    &-price-wrpr {
        margin-left: 8%;
        @media (max-width: $tabWidth){
            margin-left: 6%;
        }
    }
    &-price {
        font-size: 1.5em;
        @media (max-width: $tabWidth){
            font-size: 1.15em;
        }
        @media (max-width: $mobWidth){
            font-size: 1em;
        }
    }
    &-del-wrpr {
        margin-left: auto;
        width: 40px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    &-del {
        @media (max-width: $tabWidth){
            font-size: 1.25em;
        }
    }
    
}