.wpcf7-form {}

.wpcf7-form-control-wrap {
    &.uname {}
    .wpcf7-form-control {
        &.wpcf7-validates-as-required {}
        &.wpcf7-text {}
    }
}

.wpcf7-form-control-wrap {
    &.umail {}
    .wpcf7-form-control {
        &.wpcf7-validates-as-email {}
        &.wpcf7-validates-as-required {}
        &.wpcf7-email {}
        &.wpcf7-text {}
    }
}

.wpcf7-form-control {
    &.btn_green {}
    &.btn {}
    &.wpcf7-submit {}
}
.ajax-loader {}

.wpcf7-response-output{
    border: none !important;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
}
.wpcf7-not-valid-tip{
    font-size: 0.7em;
    margin-left: 0.5em;
}

.wpcf7-not-valid{
    border-color: red;
}