.footer {
    display: flex;
    flex-direction: column;
    margin-top: -100px;  
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    position: relative;
    z-index: 2;
    background: rgb(0,18,72);
    background-image: linear-gradient(180deg, rgba(0,18,72,1) 0%, rgba(0,14,49,1) 100%);
    will-change: scroll-position, transform, opacity;

    @media (min-width: $tabWidth){
        @include mask('../img/footer-mask.svg');
        @include mask-size(cover);
        @include mask-rep(no-repeat);
        @include mask-pos(top center);
    }

    @media (min-width: $mobWidth+1){
        min-height: 390px;
    }
    @media (max-width: $mobWidth){
        font-size: 0.75em;
    }

    &__cnt{
        @media (max-width: $tabWidth){
            flex-direction: column;
            align-items: center;
        }
    }

    &__cnt_1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
        @media (max-width: $mobWidth){
            padding-top: 15px;
            // padding-bottom: 30px;
        }
    }
    &__cnt_2{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        @media (max-width: $mobWidth){
            margin-top: 70px;
            font-size: 1.1em;
        }
    }
    &__title {
        font-size: 1.5em;
        color: $cPrimary;
        // margin-bottom: 25px;
        text-align: center;
    }
    &__person{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 35px;
    }
    &__person-name{
        font-size: 1.5em;
    }
    &__person-phone{
        color: inherit;
        text-decoration: none;
        margin-top: 5px;
    }
    &__name{
        font-size: 0.9em;
    }
    &__nav{
        text-transform: uppercase;
        @media (max-width: $tabWidth){
            display: none;
        }
    }

    

}