*{
    box-sizing: border-box;
}

@mixin grid($prefix, $suffix, $paddings){
    .#{$prefix}-1-#{$suffix}{
        $width: 8.3333%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-2-#{$suffix}{
        $width: 16.6666%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-3-#{$suffix}{
        $width: 25%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-4-#{$suffix}{
        $width: 33.3333%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-5-#{$suffix}{
        $width: 41.6666%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-6-#{$suffix}{
        $width: 50%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-7-#{$suffix}{
        $width: 58.3333%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-8-#{$suffix}{
        $width: 66.6666%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-9-#{$suffix}{
        $width: 75%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-10-#{$suffix}{
        $width: 83.3333%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-11-#{$suffix}{
        $width: 91.6666%;
        @include grid-item($width, $paddings);
    }
    .#{$prefix}-12-#{$suffix}{
        $width: 100%;
        @include grid-item($width, $paddings);
    }
    .full-screen_#{$suffix}{
        width: 100vw;
        min-height: 100vh;
    }
}
@mixin grid-item($width, $paddings){
    flex: $width 0 0;
    padding-left: #{$paddings};
    padding-right: #{$paddings};
}

@include grid('gr', 'xs', '10px');
@media (min-width: 480px) {
    @include grid('gr', 'sm', '10px');
}
@media (min-width: 750px) {
    @include grid('gr', 'md', '10px');
}
@media (min-width: 980px) {
    @include grid('gr', 'lg', '10px');
}
@media (min-width: 1170px) {
    @include grid('gr', 'xl', '10px');
}
@media (min-width: 1800px) {
    @include grid('gr', 'xxl', '10px');
}

.row{
    width: 100%;
    // overflow-x: hidden;
}
.container, .cnt{
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
}

.mobile-visible, .mob-visible{
    display: block;
    
    @media (min-width: $mobWidth){
        display: none !important;
    }
}
.mobile-hidden, .mob-hidden{
    @media (max-width: $mobWidth){
        display: none !important;
    }
}


.to-left {
    justify-content: flex-start
}

.to-right {
    justify-content: flex-end;
}
.to-center{
    justify-content: center;
}

.gr-h-100{
    height: 100%;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}
.p-0 {
    padding-left: 0;
    padding-right: 0;
}

.display-none, .dn, .hidden{
    display: none!important;
}


.fit-content{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}