.header {
    position: fixed;
    z-index: 50;
    // background-color: white;
    top: 0;

    transition: 0.5s ease-in;
    
    // opacity: 0;
    // transform: translateY(-100%);
    &.is-dark{
        @media (min-width: $tabWidth+1){
            background-color: rgba(0,0,0, 0.7);
        }
    }
    &.is-loaded{
        opacity: 1;
        transform: translateY(0);
    }

    &__cnt {
        min-height: 50px;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-between;
        @media (max-width: $tabWidth){
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            width: calc(100vw - 55px);
            padding-left: 40px;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #fff;
            flex-direction: column;
            justify-content: start;
            z-index: 9;
            transition: 500ms ease-in-out;
            transform: translateX(-110%);
            will-change: transform;
            &.is-active{
                transform: translateX(0);
            }
        }
    }
    &__ham{
        // margin-right: 10px;
        // color: $cBorder;
        color: white;
        top: 20px;
        left: 20px;
        position: fixed;
        z-index: 10;
        transition: 500ms ease-in-out;
        // transform: translateX(-100%);
        will-change: left, right;
        &.is-active{
            color: $cPrimary;
            right: calc( 55px + 20px );
            left: auto;
        }
        
        @media (min-width: $tabWidth){
            display: none;
        }

        .hamburger{
            // font-size: 0.7em;
            font-size: 0.45em;
            outline: none;
            .hamburger-inner{
                height: 2px !important;
            }
        }

    }
    &__logo {
        margin-right: auto;
        color: $cPrimary;
        text-decoration: none;
        display: flex;
        align-items: center;
        img {}
    }
    &__name{
        font-size: 0.875em;
        margin-left: 10px;

        @media (max-width: $tabWidth){
            display: none;
        }
    }
    
    &__nav{
        text-transform: uppercase;
        @media (min-width: $tabWidth){
            // margin-left: 10px;
            // align-self: stretch;
            color: black;
        }
        @media (max-width: $tabWidth){
            // padding: 15px 15px 15px 30px;
            // margin: 15px 0;
            margin-top: 40px;
            width: 100%;
            // border-top: solid 1px $cBorder;
            // border-bottom: solid 1px $cBorder;
        }
    }
}
