.nav{
    height: 100%;
    font-size: 0.9em;

    &__list{
        list-style: none;
        display: flex;
        height: 100%;
        color: white;
        @media (max-width: $tabWidth){
            flex-direction: column;
            height: auto;
            color: black;
        }
    }
    &__item{
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        transition: 350ms ease-in;
        &:after{
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 3px;
            background-color: $cPrimary;
            bottom: -7px;
            left: 0;
            transition: 350ms ease-in;
            @media (max-width: $mobWidth){
                display: none;
            }
        }
        &.is-active{
            font-weight: 600;
            &:after{ width: 100%; }
        }
        @media (min-width: $tabWidth){
            padding: 0 13px;
        }
        @media (max-width: $tabWidth){
            margin-bottom: 16px;
            &:last-child{ 
                margin-bottom: 0;
            }
        }
    }
    &__link{
        text-decoration: none;
        color: inherit;
    }
}



  .nav-banking-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      font-size: 0.9em;
      @media (max-width: $mobWidth){
        font-size: 1.5em;   
    }

    &__item {
        padding: 0.75em;
        @media (max-width: $mobWidth){
            padding: 0.2em 0.75em;
        }
    }
    &__link {
        color: inherit;
        text-decoration: none;
        &:hover {}
        &:active {}
        &:focus {}
      }
  }