.popup {
    position: fixed;
    position: absolute; //TODO убрать потом
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.75);
    z-index: 50;
    
//    display: none;
    
    
    
    &__content {
        background-color: #fff;
        padding: 50px;
        width: 100%;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        &_instr{
            max-width: 600px !important;
            padding: 60px !important;
            @media (max-width: $mobWidth){
                padding: 20px 15px !important;
            }
        }
        
        &_cart{
            padding: 45px 60px !important;
            max-width: 1140px !important;
            z-index: 10;
            border-radius: 8px;
            display: none;
            @media (max-width: $tabWidth){
                padding: 30px !important;
            }
            @media (max-width: $mobWidth){
                padding: 30px 15px !important;
            }
        }
        
        
        
        
        
        
        
        
    }
    &__title {
        color: $cPrimary;
        &_cen{
            text-align: center;
            @media (max-width: $mobWidth){
                font-size: 0.75em;
            }
        }
    }
    
    &__form {
    }
    
}


.bank-info{
    max-width: 1000px;
    display: none;


    // h1, h2, h3, h4, h5, h6{
    h1, h2, h3{
        color: green;
        margin-bottom: 1.5em;
    }
    h4, h5, h6{
        margin-bottom: 0.5em;
    }

    a{
        color: inherit;
        // text-decoration: none;
        outline: none;
    }
}