body{
    // font-family: 'GothamPro', Arial;
    font-size: 16px;
    // letter-spacing: 0.05em;
}
//.body-front {
body{
    

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1em;
        letter-spacing: 0.05em;
        &.t-constantine{
            color: $cPrimary;
        }
    }
    h1 {
        font-size: 5em;
        @media (max-width: $tabWidth) {
            font-size: 3.5em;
        }
        @media (max-width: $mobWidth){
            font-size: 2.5em;
        }
    }
    h2 {
        font-size: 3em;
        @media (max-width: 900px) {
            font-size: 2em;
        }
    }
    h3 {
        font-size: 2.3em;
        @media (max-width: $tabWidth) {
            font-size: 1.6em;
        }
        @media (max-width: $mobWidth){
            font-size: 1.2em;
        }
    }
    h4 {
        font-size: 2em;
    }
    h5 {
        font-size: 1.7em;
        @media (max-width: $mobWidth){
            font-size: 1.15em;
            line-height: 1.3em;
        }
    }
    h6 {
        font-size: 1.125em;
        @media (max-width: $mobWidth){
            font-size: 1em;
        }
    }
    .lite {
        font-weight: 300;
    }
    a {
        transition: 350ms;
        &:hover {}
    }
    p {
        margin-bottom: 1em;
        //    text-indent: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    span.spacer {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
        color: transparent;
        background: transparent;
    }
    .ta-center {
        text-align: center;
    }
}

i{
font-style: italic;
}
b{
    font-weight: 800;
}

.t-red{
    color: $cPrimary;
}
.t-f-house{
    font-family: CopyrightHouseIndustries;
}

.t-fw-400{
    font-weight: 400;
}

.mt-0 {
    margin-top: 0 !important;
}

.tdn {
    text-decoration: none;
}

.t-uppercase, .t-ucase, .t-up {
    text-transform: uppercase;
}

.ta-center {
    text-align: center;
}

.inherit {
    text-decoration: none;
    color: inherit;
}

.t-constantine{
    font-family: 'Constantine';
}
.t-mojito{
    font-family: MojitoWeb;
}

p:empty{
    display: none !important;
}
p{
    margin-bottom: 1em;
    line-height: 1.5em;
    &:last-child{
        margin-bottom: 0;
    }
}


.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 200;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fz_0-5 {
    font-size: 0.5em;
}

.fz_0-55 {
    font-size: 0.55em;
}

.fz_0-6 {
    font-size: 0.6em;
}

.fz_0-65 {
    font-size: 0.65em;
}

.fz_0-7 {
    font-size: 0.7em;
}

.fz_0-75 {
    font-size: 0.75em;
}

.fz_0-8 {
    font-size: 0.80em;
}

.fz_0-85 {
    font-size: 0.85em;
}

.fz_0-9 {
    font-size: 0.9em;
}

.fz_0-95 {
    font-size: 0.95em;
}

.fz_1 {
    font-size: 1em;
}

.fz_1-05 {
    font-size: 1.05em;
}

.fz_1-1 {
    font-size: 1.1em;
}

.fz_1-15 {
    font-size: 1.15em;
}

.fz_1-2 {
    font-size: 1.2em;
}

.fz_1-25 {
    font-size: 1.25em;
}

.fz_1-3 {
    font-size: 1.3em;
}

.fz_1-35 {
    font-size: 1.35em;
}

.fz_1-4 {
    font-size: 1.4em;
}

.fz_1-45 {
    font-size: 1.45em;
}

.fz_1-5 {
    font-size: 1.5em;
}

.fz_1-55 {
    font-size: 1.55em;
}

.fz_1-6 {
    font-size: 1.6em;
}

.fz_1-65 {
    font-size: 1.65em;
}

.fz_1-7 {
    font-size: 1.7em;
}

.fz_1-75 {
    font-size: 1.75em;
}

.fz_1-8 {
    font-size: 1.80em;
}

.fz_1-85 {
    font-size: 1.85em;
}

.fz_1-9 {
    font-size: 1.9em;
}

.fz_1-95 {
    font-size: 1.95em;
}

.fz_2 {
    font-size: 2em;
}

.fz_2-05 {
    font-size: 2.05em;
}

.fz_2-1 {
    font-size: 2.1em;
}

.fz_2-15 {
    font-size: 2.15em;
}

.fz_2-2 {
    font-size: 2.2em;
}

.fz_2-25 {
    font-size: 2.25em;
}

.fz_2-3 {
    font-size: 2.3em;
}

.fz_2-35 {
    font-size: 2.35em;
}

.fz_2-4 {
    font-size: 2.4em;
}

.fz_2-45 {
    font-size: 2.45em;
}

.fz_2-5 {
    font-size: 2.5em;
}

.fz_2-55 {
    font-size: 2.55em;
}

.fz_2-6 {
    font-size: 2.6em;
}

.fz_2-65 {
    font-size: 2.65em;
}

.fz_2-7 {
    font-size: 2.7em;
}

.fz_2-75 {
    font-size: 2.75em;
}

.fz_2-8 {
    font-size: 2.8em;
}

.fz_2-85 {
    font-size: 2.85em;
}

.fz_2-9 {
    font-size: 2.9em;
}

.fz_2-95 {
    font-size: 2.95em;
}

.fz_3 {
    font-size: 3em;
}


.link{
    text-decoration: none;
}

.aligncenter, .alignleft, .alignright{
    max-width: 100%;
}

.aligncenter{
    margin: auto;
    display: inherit;
}

.t-grey{
    color: #c9c9d1;
}
.t-important{
    position: relative;
    padding-left: 1.5em;
    font-size: 0.87em;
    line-height: 1.2em;
    .sign{
        position: absolute;
        color: $cPrimary;
        font-size: 1.8em;
        left: 0;
        top: 0.25em;
        font-weight: 800;
    }
    .t-red{
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.1em;
    }
    .sub{
        color: #9494a3;
    }
    &_no-sub{
        .sign{
            top: 0;
        }
    }
}
span.t-strong{
    color: rgb(85, 113, 255);
    text-transform: uppercase;
    font-size: 0.75em;
      letter-spacing: 0.1em;
}

.t-title{
    &_sect{
        font-style: italic;
        text-align: center;
        color: rgb(0, 0, 109);
        font-weight: 800;
        font-size: 1.875em;
        line-height: 1.1em;
        @media (max-width: $tabWidth){
            font-size: 1.6em;
        }
        @media (max-width: $mobWidth){
            font-size: 1.3em;
        }
    }
}

ol{
    list-style: decimal inside none;
}