$cPrimary: rgba(255, 0, 48, 1);


$cPrimaryBord: #00a000;
$cSecondary: #ff393e;
$cSecondaryBord: #de363a;
$cThird: #f3f9fa;
$cBorder: #cecece;
$cGrey: #f6f6f9;

// $inputBorder: #131d9a;
// $inputBorder: #131dff;
$inputBorder: rgba(255, 255, 255, 1);



$mobWidth: 500px;
$tabWidth: 1050px;
$deskWidth: 1170px;
$deskWidthLg: 1900px;