@font-face {
    font-family: 'CopyrightHouseIndustries';
    src: url('../fonts/CopyrightHouseIndustries/CopyrightHouseIndustries.eot');
    src: url('../fonts/CopyrightHouseIndustries/CopyrightHouseIndustries.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CopyrightHouseIndustries/CopyrightHouseIndustries.woff') format('woff'),
    url('../fonts/CopyrightHouseIndustries/CopyrightHouseIndustries.ttf') format('truetype'),
    url('../fonts/CopyrightHouseIndustries/CopyrightHouseIndustries.svg#CopyrightHouseIndustries') format('svg');
    font-weight: 400;
    font-style: normal;
}