@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold-italic/ProximaNova-BoldIt.eot');
    src: url('../fonts/ProximaNova-Bold-italic/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold-italic/ProximaNova-BoldIt.woff') format('woff'),
    url('../fonts/ProximaNova-Bold-italic/ProximaNova-BoldIt.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold-italic/ProximaNova-BoldIt.svg#ProximaNova-Bold') format('svg');
    font-weight: 800;
    font-style: italic;
}