@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}