@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Bold') format('svg');
    font-weight: 400;
    font-style: normal;
}