@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: 800;
    font-style: normal;
}