.b-authors {
    position: relative;
    z-index: 5;

    &__innner{
        position: relative;
        &_1{
            background-color: $cGrey;
            z-index: 5;
            padding-bottom: 45px;
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 105px;
                background-color: white;
                z-index: 1;
                left: 0;
                bottom: 0;
                @media (max-width: $mobWidth){
                    height: 110px;
                }
            }
            @media (max-width: $mobWidth){
                padding-bottom: 50px;
            }
        }
        &_2{
            background-color: white;
            z-index: 6;
            padding-left: 0;
            padding-right: 0;
            overflow: hidden;
            // margin-top: -60px;
        }
        
    }
    &__cnt {
        
        &_1{
            padding-top: 45px;
            @media (max-width: $mobWidth){
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    &__title {
    }
    &__items {
        margin-top: 35px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        position: relative;
        z-index: 6;
        @media (max-width: $mobWidth){
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &__trio {
        margin-top: -50px;
        max-width: 100%;
        height: auto;
        @media (max-width: $tabWidth){
            margin-top: 0;
        }
        @media (max-width: $mobWidth){
            max-width: 200%;
            width: 150%;
            height: 150%;
            // max-width: 200vw;
            // width: 140vw;
            // height: 84vw;
            margin-left: -25%;
            margin-top: -10%;
        }
    }
    &__act {
        text-align: center;
        margin-top: -45px;
        @media (max-width: $tabWidth){
            margin-top: -30px;
        }
    }
    .ui-btn {
        &_primary{
        }
    }
}
  

.b-author {
    width: 100%;
    max-width: 360px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 51px 0px rgba(176, 185, 199, 0.4);
    border-radius: 15px;
    padding-top: 25px;
    order: 1;
    // position: relative;
    // z-index: 8;
    // padding: 25px;
    // padding-bottom: 0;
    &_1{}
    &_2{
        @media (max-width: $mobWidth){
            order: 10;
            margin-bottom: 0; 
        }
    }
    &_3{
        @media (max-width: $mobWidth){
            order: 5;
        }
    }
    @media (max-width: $mobWidth){
        margin-bottom: 35px;
        max-width: 400px;
        &:last-child{ 
            // margin-bottom: 0; 
            // box-shadow: none;
            padding: 10px;
            padding-top: 15px;
        }
    }
    &__img-wrpr {
        width: 148px;
        height: 148px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 5px;
        @media (max-width: $mobWidth){
            width: 130px;
            height: 130px;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
    &__name {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        color: $cPrimary;
        margin-top: 25px;
        font-size: 1.05em;
        letter-spacing: 0.05em;
        p {
        }
        @media (max-width: $mobWidth){
            margin-top: 15px;
        }
    }
    &__desc {
        text-align: center;
        margin-top: 18px;
        margin-bottom: 30px;
        padding: 0 25px;
        p {
        }
        @media (max-width: $mobWidth){
            margin-bottom: 15px;
            padding: 0 15px;
            margin-top: 10px;
        }
    }
    &__link-wrpr {
        width: 100%;
        text-align: center; 
        position: relative;
        margin-top: auto;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: solid 1px #ebedf1;
        &:before{
            content: '';
            position: absolute;
            height: 1px;
            width: 55px;
            background-color: $cPrimary;
            top: -1px;
            z-index: 3;

        }
    }
    &__link {
        font-style: italic;
        text-transform: uppercase;
        color: rgb(0, 0, 109);
        text-decoration: none;
        font-size: 0.8em;
        letter-spacing: 0.02em;
    }
    
}