.b-aprogramm {
    &__cnt {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    &__title {
        text-align: center;
        margin-bottom: 20px;
    }
    
    &__cols {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        list-style: none;
    }
    &__act {
        text-align: center;
        margin-top: 15px;
        @media (max-width: $mobWidth){
            margin-top: 35px;
        }
    }
    
}

.b-aprogramm-item {
    padding: 0 12px;


    &_1{}
    &_2{}
    &_3{}
    &_4{}
    &_5{}
    &_6{}

    p{
        margin-bottom: 0.5em;
        position: relative;
        text-indent: 15px;
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0.5em;
            left: 0;
            // left: 0.75em;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #9494a3;
        }
        @media (max-width: $mobWidth){
            margin-bottom: 20px;
        }
    }

    @media (max-width: $mobWidth){
        // margin-bottom: 25px;
        position: relative;
    }
}