.b-btmcontatcs {
    &__cnt {
        padding-left: 0;
        padding-right: 0;
        padding-top: 22px;
        padding-bottom: 200px;
        overflow: hidden;
        color: white;
        text-align: center;
        // flex-direction: column;
        // align-items: center;
        a{
            color: inherit;
            text-decoration: none;
        }
        @media (max-width: $mobWidth){
            padding-bottom: 30px;
        }
    }
    &__pulse {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        @media (max-width: $mobWidth){
            max-width: 500%;
            width: 200%;
            margin-left: -53%;
        }
    }
    &__main {
        margin-top: 40px;
        font-size: 1.12em;
    }
    br {
    }
    a {
    }

    &__payment-logo{
        background-color: rgba(255,255,255,.5);
        padding: 10px;
        width: 100%;
        max-width: 350px;
        margin: 10px auto;
        margin-top: 30px;
        img{
            width: 100%;
            max-width: 100%;
        }
    }

    &__bank-menu-wrpr{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    &__bank-menu{
        list-style: none;
        display: flex;
        align-items: center;
        @media (max-width: $mobWidth){
            flex-direction: column;
            width: 100%;
            font-size: 0.8em;
        }
        li{
            margin: 0 10px;
        }
        a{}
    }
}