.b-evince {

    @media (max-width: $mobWidth){
        overflow: hidden;
    }
    
    &__cnt {
        padding-top: 55px;
        padding-bottom: 40px;
        justify-content: center;
        position: relative;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__img-stone {
        position: absolute;
        z-index: 30;
        &_1{
            top: -40px;
            right: 205px;
            @media (max-width: $mobWidth){
                top: 20px;
                right: -26px;

            }
        }
        &_2{
            bottom: 30px;
            left: 0;
            @media (max-width: $mobWidth){
                left: -20%;
                bottom: 10px;
                z-index: -1;
            }
        }
    }
    
    
    &__left {
        text-align: right;
        padding-top: 75px;
        width: 100%;
        max-width: 310px;
        p {
            margin-bottom: 50px;
        }

        @media (max-width: $tabWidth){
            text-align: center;
            max-width: 100%;
        }
        @media (max-width: $mobWidth){
            padding-top: 0;
            margin-top: 15px;
            p{
                margin-bottom: 15px;
            }
        }
        
    }
    &__mid {
        width: 100%;
        max-width: 455px;

        @media (max-width: $mobWidth){
            position: relative;
        }
    }
    &__img-main {
        max-width: 100%;
    }
    &__right {
        padding-top: 75px;
        width: 100%;
        max-width: 310px;
        margin-left: -55px;
        p {
            margin-bottom: 50px;
        }
        @media (max-width: $tabWidth){
            text-align: center;
            max-width: 100%;
            margin-left: 0;
        }
        @media (max-width: $mobWidth){
            padding-top: 0;
            margin-top: 15px;
            p{
                margin-bottom: 15px;
            }
        }
    }
    &__act {
        text-align: center;
        @media (max-width: $tabWidth){
            margin-top: 30px;
        }
    }
    
}