.b-facilities {
    
    background-color: #00001f;
    background-image: url(/img/planet.png);
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center 100px;
    padding-bottom: 35px;
    // background-size: 1920px auto;
    // background-position: top center;
    color: white;

    @media (max-width: $mobWidth){
        background-size: 315vw auto;
        // background-position: center 130vw;
        background-position: center calc( 100% + 22vw);
    }
    @media (min-width: $deskWidth){
        background-color: #000019;
        background-size: 1600px auto;
        background-position: center calc( 100% + 7vw);
    }
    @media (min-width: $deskWidthLg){
        // background-color: #000019;
        background-position: center calc( 100% + 3vw);
        padding-bottom: 4vw;
    }


    &__cnt {
        padding-top: 70px;
        padding-bottom: 35px;
        @media (max-width: $tabWidth){
            padding-top: 35px;
        }
    }
    &__title {
        color: white;
        text-align: center;
    }
    &__desc {
        text-align: center;
        margin-top: 50px;
        line-height: 1.5em;
        @media (max-width: $mobWidth){
            margin-top: 25px;
        }
        br {
        }
    }
    
    &__main {
        margin-top: 40px;
    }
    &__title-blue{}
    p {
    }
    
    &__act {
        text-align: center;
        margin-top: 51px;
    }
    
    &__btm-text {
        text-align: center;
        width: 100%;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 130px;
        
        p{
            margin-bottom: 0;
        }
        span{
            display: inline-block;
        }
        @media (max-width: $mobWidth){
            margin-top: 55px;
        }
    }
    &__btm-text-title {
        font-size: 1.5em;
        font-weight: 800;
        @media (max-width: $mobWidth){
            font-size: 1.1em;
        }
        
    }
    &__btm-text-sub {
        margin-top: 25px;
        
    }
}