.b-footer {
    // padding: 15px 0;
    
    &__cnt {
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
        color: white;
        margin-bottom: auto;
        padding: 20px;
        font-size: 0.8em;
        @media (max-width: $mobWidth){
            padding-bottom: 100px;
        }

        a {
            color: inherit;
            text-decoration: none;
            margin: 0 10px;
            @media (max-width: $mobWidth){
                margin: 0 7px;
            }
        }
    }
    &__cr {
        margin-top: 15px;
    }
    p {
    }
    &__social {
        text-transform: uppercase;
        width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        @media (max-width: $mobWidth){
            
        }
    }
    
}