.b-form {
    background-color: #00001f;
    background-image: url(/img/footer-bg.jpg);
    // background-image: url(/img/footer-bg-tiny.png);
    background-repeat: no-repeat;
    background-size: 1900px auto;
    background-position:  center bottom;
    position: relative;
    z-index: 5;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        // background-color: #fff;
        background: rgb(0,0,24);
        background: linear-gradient(180deg, rgba(0,0,24,1) 0%, rgba(0,0,31,1) 100%);

        z-index: -1;
    }
    

    @media (min-width: $deskWidthLg){
        background-size: cover;
    }

    &__cnt {
        max-width: 635px;
        color: white;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        @media (max-width: $mobWidth){
            padding-top: 35px;
        }
    }
    &__title {
        color: white;
    }
    br {
    }
    &__desc {
        margin-top: 43px;
        text-align: center;
        @media (max-width: $mobWidth){
            margin-top: 20px;
        }
    }
    &__main {
        margin-top: 50px;
        @media (max-width: $mobWidth){
            margin-top: 25px;
        }
    }
    .ui-form {
    }
    .ui-form__row {
        .ui-input {
            &_text{
            }
        }
        .ui-input {
            &_text{
            }
        }
        .ui-input {
            &_text{
            }
        }
    }
    .ui-input {
        &_textarea{
        }
    }
    .ui-btn {
        &_primary{
        }
    }
}