.b-guest {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    @media (max-width: $mobWidth){
        // flex-direction: column;
        // align-items: center;

    }
    &__photo-wrpr {
        flex-shrink: 0;
        flex-grow: 0;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__text {
        flex-grow: 1;
        padding-left: 25px;
        @media (max-width: $mobWidth){
            padding-left: 13px;
        }
    }
}