
  .b-hero {
      color: white;


    background-size: 1920px auto;
    // background-size: cover;
    background-image: url('../img/b-hero-bg.jpg');
    background-position:  bottom center;
    background-repeat: no-repeat;

    @media (max-width: $tabWidth){
      background-image: url('../img/b-hero-bg-mob.jpg');
      background-size: 150vw auto;
      background-color: #000015;
    }
    @media (max-width: $mobWidth){
      background-size: 190vw auto;
      background-position: center -22vw;
    }
    @media (min-width: $deskWidthLg){
      background-size: 102vw auto;
    }

    &__cnt {
        flex-direction: column;
        align-items: center;
        padding-top: 45px;
        padding-bottom: 40px;
        overflow-x: hidden;
        text-align: center;
        h5{
          width: 100%;
        }
    }
    &__title{
      &_1{
        width: 100%;
        text-align: center;
        margin-bottom: 13px;
      }
      &_2{
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
      }
      &_3{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }
      &_4{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        text-align: center;
      }
      &_5{}
      &_6{
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
      }


    }

    &__pulse{
      margin-bottom: 15px;
      width: 100%;
      overflow: hidden;
      @media (max-width: $mobWidth){}
    }

    &__img-pulse {
        max-width: 100%;
        
        @media (max-width: $mobWidth){
          max-width: 300%;
          width: 200%;
          margin-left: -53%;
        }
    }

    &__act{
      margin-top: 20px;
    }
  }