.b-progdesc {

  background-image: -moz-linear-gradient( 90deg, rgb(246,246,249) 0%, rgb(255,255,255) 99%);
    background-image: -webkit-linear-gradient( 90deg, rgb(246,246,249) 0%, rgb(255,255,255) 99%);
    background-image: -ms-linear-gradient( 90deg, rgb(246,246,249) 0%, rgb(255,255,255) 99%);


    &_cnt {
      padding-top: 45px;
      padding-bottom: 50px;
        &.cnt{
        }
    }
    &__title {
        p {
        }
    }
    &__list {
      width: 100%;
      max-width: 825px;
      margin: 30px auto 0;
    }
    &__act {
      text-align: center;
      margin-top: 40px;
    }
    .ui-btn {
        &_primary{
        }
    }
}