
  .b-speakers {
    // background-size: cover;
    // background-color: #000017;
    background-image: url(../img/b-speakers-bg_4.png);

    background-size: 1920px auto;
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
    padding-top: 60px;

    @media (min-width: $tabWidth){
      margin-top: -53px;
      // background-image: url(../img/b-speakers-bg-mob.jpg);
    }
    @media (max-width: $tabWidth){
      background-image: url(../img/b-speakers-bg-mob.jpg);
      background-color: #000015;
    }
    @media (max-width: $mobWidth){
      background-position: center -70px;
    }
    @media (min-width: $deskWidthLg){
      background-size: 101vw;
      background-position: center 2%;
    }
    



    &__cnt {
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;
      
    }
    &__img {
      margin-top: -8%;
      @media (min-width: $tabWidth){
        margin-bottom: -95px;
        margin-top: 0;
      }
      @media (max-width: $mobWidth){
        margin-top: -17%;
      }
      max-width: 100%;
    }

    &__title{
      &_1{
        font-size: 1.2em;
        text-align: center;
        @media (max-width: $tabWidth){
          margin-top: -5%;
        }
        @media (max-width: $mobWidth){
          margin-top: -10%;
        }
      }
      &_2{
        margin-top: 40px;
        @media (max-width: $tabWidth){
          margin-top: 30px;
        }
        @media (max-width: $mobWidth){
          margin-top: 20px;
        }
      }
    }


    
  }