.b-tarifs {
    
    &__cnt {
        padding-top: 40px;
        padding-bottom: 35px;
        padding-left: 0;
        padding-right: 0;

    }
    &__title{
        text-align: center;
    }
    &__items {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 40px;
        @media (max-width: $mobWidth){
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
    .t-red {
    }
    
    .t-important {
        br {
        }
    }
    .red {
    }
    &__act {
        // text-align: center;
        color: $cPrimary;
        width: 100%;
        max-width: 560px;
        
        @media (min-width: $deskWidth){
            margin-top: -270px;
            margin-left: 80px;
        }
        @media (max-width: $tabWidth){
            padding: 15px;
            text-align: center;
        }
    }

    &__desc {
        width: 100%;
        margin-bottom: 55px;
    }
    .ui-btn {
        &_primary{
        }
    }
}
.b-tarif {
    width: 100%;
    max-width: 360px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 51px 0px rgba(176, 185, 199, 0.4);
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    margin: 15px;

    @media (max-width: $mobWidth){
        max-width: 400px;
    }
    &_1, &_2{
        @media (min-width: $deskWidth) {
            // height: 430px;
            height: 520px;
        }
    }
    &_2{}
    &_3{}

    &_border-red{
        border: solid 2px $cPrimary;
    }
    

    &__top {
        color: rgb(148, 148, 163);
        font-weight: 800;
        text-transform: uppercase;
        padding: 27px 0;
        margin: 0 27px;
        letter-spacing: 0.1em;
        border-bottom: solid 1px #ebedf1;
        @media (max-width: $mobWidth){
            padding: 20px 0;
            font-size: 0.9em;
            margin: 0 20px;
        }
    }
    &__price {}
    &__date {
        
    }
    ul {
        list-style: none;
        li {
            position: relative;
            padding-left: 1.3em;
            margin-bottom: 3px;
            &:before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0.25em;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                overflow: hidden;
                background-color: #9494a3;
            }
        }
    }
    &__price-old {}
    &__price-actual {}
    &__price {}
    &__date {}
    &__body {
        padding: 17px 28px;
        @media (max-width: $mobWidth){
            padding: 15px 20px;
        }
    }
    &__footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 800;
        font-size: 1.125em;
        padding: 25px 35px;
        background: url(../img/border-.png) repeat-x;
        background-position: top;
        @media (max-width: $mobWidth){
            padding: 15px 20px;
            font-size: 0.95em;
        }
    }
    &__price_line {
        .b-tarif__price-value{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                height: 2px;
                width: calc(100% + 8px);
                background-color: $cPrimary;
                left: -4px;
                top: 0.6em;
            }
        }
    }
    &__price-actual {}
    &__price {}
    &__date {
        font-weight: 400;
    }
    &__important{
        margin-top: 23px;
        margin-bottom: 10px;
    }
}

  