.b-video {
    // background-color: #00001e;
    padding-top: 55px;
    padding-bottom: 130px;

    background-image: url(../img/cinema.jpg);
    background-size: 1940px auto;
    background-position: center -30px;
    background-repeat: no-repeat;
    position: relative;
    // background-position: center top;

    @media (max-width: $tabWidth){
        background-size: 1043px auto;
        background-position: center calc(100% - 35px);
        padding-bottom: 70px;
    }
    @media (max-width: $mobWidth){
        background-size: 725px auto;
        background-color: #00001e;
        background-position: center calc(100% - 92px);
    }
    @media (min-width: $deskWidthLg){
        background-color: #00001e;
    }
    

    &.row{
    }
    &__cnt {
        flex-direction: column;
        align-items: center;
        
        &.cnt{
        }
    }
    &__desc {
        font-size: 1.12em;
        text-align: center;
        // margin-top: 55px;
        color: white;
          p {
          }
        }
    &__vid{
        // position: absolute;
        position: relative;
        width: 100%;
        max-width: 742px;
        // height: 353px;
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: $tabWidth){
            max-width: 400px;
        }
        @media (max-width: $mobWidth){
            max-width: 280px;
        }
        
    }
    &__vid-inner{
        width: 100%;
        padding-top: 47.5%;
        position: relative;
        @media (max-width: $mobWidth){
            padding-top: 48%;
        }
        .ui-video{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
    .b-video-item {
        
    }
    &__act {
        text-align: center;
        margin-top: 140px;
        @media (max-width: $tabWidth){
            margin-top: 80px;
        }
    }
    .ui-btn {
        &_primary{
        }
    }
}