.b-ywant {
    background-color: $cGrey;
    &__cnt {
        padding-top: 60px;
        padding-bottom: 80px;
        @media (max-width: $mobWidth){
            padding-top: 35px;
            padding-bottom: 40px;
        }
    }
    &__title {
        text-align: center;
    }
    &__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 75px;
        @media (max-width: $mobWidth){
            margin-top: 28px;
        }
    }
    
}


.b-ywant-item {
    width: 265px;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    @media (max-width: $mobWidth){
        margin: 0 auto;
        margin-bottom: 20px;
    } 

    &__icon {
        position: relative;
        z-index: 2;
        height: 7.75em;
        &:before{
            content: '';
            background-color: white;
            position: absolute;
            width: 6.25em;
            height: 6.25em;
            border-radius: 50%;
            z-index: -1;
            top: 0;
        }
        &_r{
            &:before{ right: 0; }
        }
        &_l{
            &:before{ left: 0; }
        }
        &_b{
            &:before{ 
                top: auto;
                bottom: 0; 
            }
        }


        &_1{
            margin-left: 1.62em;
            @media (max-width: $mobWidth){
                transform: translateX(-10px);
            }
        }
        &_2{}
        &_3{
            margin-right: 5.93em;
            margin-top: -0.62em;
        }

        @media (max-width: $mobWidth){
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
        }
    }
    &__img {
        &_1{
            margin-right: 47px;
            margin-top: 33px;
        }
        &_2{
            margin-left: 37px;
            margin-top: 26px;
        }
        &_3{
            margin-left: 45px;
            margin-top: 15px;
        }
    }
    
    &__text {
        margin-top: 28px;
        text-align: left;
        @media (max-width: $mobWidth){
            margin-top: 10px;
            text-align: center;
        }
        // text-align: center;
        p {
        }
    }
}